/*  ! Warning */
/* todo:   */
/* ? ??? */
/* /// Что Это? */
/* * Звёздочка  */
/* blah-blah */

@font-face {
  font-family: 'Lato';
  src:  url('../fonts/lato_light-300.woff2') format('woff2'),
          url('../fonts/lato_light_300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato_regular-400.woff2') format('woff2'),
        url('latoregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato_medium-500.woff2') format('woff2'),
        url('../fonts/lato_medium-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato_semibold-600.woff2') format('woff2'),
        url('../fonts/lato_semibold-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato_bold-700.woff2') format('woff2'),
        url('../fonts/lato_bold-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik_medium-500.woff2') format('woff2'),
          url('../fonts/rubik_medium-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik_bold-700.woff2') format('woff2'),
          url('../fonts/rubik_bold-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Boomboom';
  src: url('../fonts/boomboom.woff2') format('woff2'),
          url('../fonts/boomboom.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/*  * Сброс стилей */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-align: center; /* ? */
}

ul {
  list-style-type: none;
}

h1 {
  margin: 0;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
              appearance: none;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  border: 0;
  border-radius: 0;
  background: #ccc;
  /* background-color: transparent; */
  cursor: pointer;
}

/* * Common Styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  max-width: 1366px;
  margin: 0 auto;
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.187;
  
}

.container {
  padding: 0 98px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-family: 'Rubik';
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.187;
}

/*  * Styled Button */
.btn {
  display: inline-flex;
  align-items: center;
  min-width: 122px;
  border-radius: 25px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.btn__big {
  padding: 7px 7px 7px 30px;
}
.btn__light {
  background: #fffefd;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
}
.btn-icon {
  margin-left: 20px;
}

/*  * Header */
.header {
}
.logo {
  display: block;
  line-height: 0;
}
.heder-nav {
  margin-right: -15px;
}
.nav-items {
}
.nav-link {
padding: 28px 15px;
font-weight: 600;
line-height: 19px;
}

/* * Hero */

.hero {
  padding: 150px 198px;
  background: url('../img/koteyka-HotelCats.jpg') no-repeat;
}
.hero-content {
}
.hero-place {
  font-size: 14px;
  line-height: 17px;
}
.hero-title {
  margin-bottom: 8px;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 62px;
  line-height: 1.1;
}

.hero-description {
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
}

/*  * Section Why */
.why {
  align-content: flex-end;
  margin: 0 83px;
  padding-top: 134px;
  background: #FFFEFD;
}
.why-title {
  text-align: center;
  margin-bottom: 60px;
}
.why-items {
  align-items: stretch;
  margin: -10px 0;
}
.why-item {
  display: block;
  flex: 0 0 30%;
  margin: 10px 15px;
  padding: 30px;
  min-height: 321px;
  background: #FFFFFF;
box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
border-radius: 8px;

/* outline: 1px solid orange; */
}
.why-icon {
  margin-bottom: 25px;
}
.why-title__item {
  margin-bottom: 5px;
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 140%;
}
.why-text{
  line-height: 1.400;
}
